:host {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 24%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #ffffff;
  padding: 10px 20px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0;

    li {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      margin: 0 10px;
      font-size: 16px;
    }
  }
  mat-icon {
    display: none;
  }

  button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: auto;

    mat-icon {
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    padding: 40px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    ul {
      li {
        display: flex;
        gap: 10px;
        margin: 30px 0;
        font-size: 20px;
      }
    }
    mat-icon {
      display: block;
    }
    button {
      color: #ffffff;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
    }
  }
}
