:host {
  display: block;
  margin: 20px;

  .add-button {
    margin-bottom: 20px;
  }

  .buttons__container {
    display: flex;
    gap: 10px;
  }

  .badge {
    display: block;
    width: 10px;
    height: 10px;
    margin-inline-end: 10px;
  }

  .high {
    background: red;
  }
  .medium {
    background: orange;
  }
  .low {
    background: green;
  }

  .completed-tasks__section {
    margin-top: 40px;

    mat-panel-title {
      text-decoration: line-through;
    }
  }

  mat-expansion-panel-header,
  mat-expansion-panel-body {
    padding: 0 10px;
  }

  mat-panel-description {
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  :host {
    margin: 30px 50px;

    mat-expansion-panel-header,
    mat-expansion-panel-body {
      padding: 0 20px;
    }
  }
}
