/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-outlined-button:not(:disabled) {
  border: 1px solid;
}

mat-option {
  flex-direction: row;
}

.priority-badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-inline-end: 5px;
}
